<!--
<% @test = SetLifts.all %>
<% test = @test.find(session[:user_id]) %>
<%= test.Squat %>
-->
<% @user = SetLifts.all %>
<% user = @user.find(session[:user_id]) %>

<div id="center-col">
<div id="accordion">
  <section id="item1">
    <p class="pointer">&#9654;</p><h1><a href="#">Week One</a></h1>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Lift</th>
            <th>First Set</th>
            <th>Second Set</th>
            <th>Third Set</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Squat</td>
            <td><%= user.Squat*0.75 %> x5 </td>            
            <td>80%x5</td>
            <td>85%x5</td>
          </tr>
          <tr>
            <td>Bench</td>
            <td><%= user.Bench %></td>
            <td>80%x5</td>
            <td>85%x5</td>
          </tr>
          <tr>
            <td>Dead</td>
            <td><%= user.Dead %></td>
            <td>80%x5</td>
            <td>85%x5</td>
          </tr>
        </tbody>
      </table>
      </section>
      <section id="item2" class="ac_hidden">
        <p class="pointer">&#9654;</p><h1><a href="#">Week Two</a></h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Lift</th>
              <th>First Set</th>
              <th>Second Set</th>
              <th>Third Set</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Squat</td>
              <td>70%x3</td>
              <td>80%x3</td>
              <td>90%x3</td>
            </tr>
            <tr>
              <td>Bench</td>
              <td>70%x3</td>
              <td>80%x3</td>
              <td>90%x3</td>
            </tr>
            <tr>
              <td>Dead</td>
              <td>70%x3</td>
              <td>80%x3</td>
              <td>90%x3</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="item3" class="ac_hidden">
        <p class="pointer">&#9654;</p><h1><a href="#">Week Three</a></h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Lift</th>
              <th>First Set</th>
              <th>Second Set</th>
              <th>Third Set</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Squat</td>
              <td>75%x5</td>
              <td>85%x3</td>
              <td>95%x1</td>
            </tr>
            <tr>
              <td>Bench</td>
              <td>75%x5</td>
              <td>85%x3</td>
              <td>95%x1</td>
            </tr>
            <tr>
              <td>Dead</td>
              <td>75%x5</td>
              <td>85%x3</td>
              <td>95%x1</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="item3" class="ac_hidden">
        <p class="pointer">&#9654;</p><h1><a href="#">Week Four(deload)</a></h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Lift</th>
              <th>First Set</th>
              <th>Second Set</th>
              <th>Third Set</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Squat</td>
              <td>40%x5</td>
              <td>50%x5</td>
              <td>60%x5</td>
            </tr>
            <tr>
              <td>Bench</td>
              <td>40%x5</td>
              <td>50%x5</td>
              <td>60%x5</td>
            </tr>
            <tr>
              <td>Dead</td>
              <td>40%x5</td>
              <td>50%x5</td>
              <td>60%x5</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
