<div id="accordion">
  <section id="item1">
    <p class="pointer">&#9654;</p><h1><a href="#">A long paragraph</a></h1>
    <div class="container">
      <h2>Hover Rows</h2>
      <p>The .table-hover class enables a hover state on table rows:</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
        </table
      </section>
      <section id="item2" class="ac_hidden">
        <p class="pointer">&#9654;</p><h1><a href="#">A medium paragraph</a></h1>
        <p>Pellentesque habitant... </p>
      </section>
      <section id="item3" class="ac_hidden">
        <p class="pointer">&#9654;</p><h1><a href="#">Two short paragraphs</a></h1>
        <p>Pellentesque habitant... </p>
        <p>Pellentesque habitant... </p>
      </section>
    </div>
