<div id="accordion">
  <section id="item1">
    <p class="pointer">&#9654;</p><h1><a href="#">A long paragraph</a></h1>
    <p>Pellentesque habitant... </p>
  </section>
  <section id="item2" class="ac_hidden">
    <p class="pointer">&#9654;</p><h1><a href="#">A medium paragraph</a></h1>
    <p>Pellentesque habitant... </p>
  </section>
  <section id="item3" class="ac_hidden">
    <p class="pointer">&#9654;</p><h1><a href="#">Two short paragraphs</a></h1>
    <p>Pellentesque habitant... </p>
    <p>Pellentesque habitant... </p>
  </section>
</div>
