<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Welcome to Power Project!</h1>
      <p>
        We'd like to welcome you to the Power Project, home of the PowerPuff Girls!
      </p>

      <p>
        In order to login, simply use the email you used to sign-up: <%= @user.email %>
      </p>
  </body>

  <footer>
    Sincerely, the Power Project team.
  </footer>

</html>
